#containerMain {
  width: 56.1%;
  min-width: 400px;
  height: 450px;

  display: flex;
  flex-direction: row;
}

#json {
  border: 1px solid;
  width: 50%;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#json textarea {
  border-radius: 7px;
}