#containerMain {
  width: 56.1%;
  min-width: 400px;
  height: 450px;

  display: flex;
  flex-direction: row;
}

#json {
  background-image: linear-gradient(#a0a092, #ffffd1);
  
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#json span {
  color: #424e59;
  font-size: 72px;
}

#json #inputText {
  border-radius: 7px;
  background: none;

  display: flex;

  width: 290px;
  height: 305px;


  border: #424e59 solid 5px;
  outline: none;
  resize: none;
}