#containerMain {
  width: 56.1%;
  min-width: 400px;
  height: 450px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  display: flex;
  flex-direction: row;
}

/* estilizandoa div#json */

#json {
  background-image: linear-gradient(to top, #a0a092, #ffffd1);

  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#json span {
  color: #424e59;
  font-size: 72px;
}

#json #inputText {
  border-radius: 7px;
  background: none;
  color: #424e59;
  font-size: 1.2em;

  display: flex;

  width: 290px;
  height: 305px;

  padding: 5px;
  border: #424e59 solid 5px;
  outline: none;
  resize: none;
}

/* estilizando a div#csv */

#csv {
  background-image: linear-gradient(to bottom, #424c55, #477baa);

  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#csv span {
  color: #fdfdd0;
  font-size: 72px;
}

#outputCsv {
  color: #fdfdd0;
  border: 5px solid #fdfdd0;

  width: 290px;
  height: 305px;

  border-radius: 5px;
  padding: 5px;
}
