@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  border: 1px solid black;
  width: 56.1%;
  min-width: 700px;
  margin-inline: auto;
}

main {
  border: 1px solid black;
  width: 56.1%;
  min-width: 700px;
  margin-inline: auto;
}

#containerBtn {
  border: 1px solid black;
  width: 56.1%;
  min-width: 700px;
  margin-inline: auto;
}