@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url(./containerMain.css);
@import url(./containerBtn.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #bbffff;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  width: 56.1%;
  height: 78px;

  margin-bottom: 17px;

  font-size: 72px;
  font-weight: normal;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.301);

  justify-content: center;
}