@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  width: 56.1%;
  height: 78px;

  font-size: 72px;

  justify-content: center;
  border: solid 1px;
}

main {
  border: solid 1px;
  width: 56.1%;
  min-width: 400px;
  height: 500px;
}

#containerBtn {
  border: solid 1px;
  display: flex;

  width: 56.1%;
  justify-content: center;
}

#containerBtn button {
  width: 150px;
  height: 60px;
  
  margin-top: 45px;
}